*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
    background-color: #ebebeb;
}


.main-header {
    background-color: #EAC926;

}

.main-header-top-bar {
    display: flex;
    flex-wrap: wrap;
    padding: 5%;

}

.logo {
    width: 50%;
    padding: 10px;
}

.form {
    width: 50%;
    display: flex;
    align-items: center;
    padding: 2px;
    font-size: 11px;
}

.input{
    background-color: #FFF;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 2px;
    
}

.submit{
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    width: 10%;
}

.copy-header {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 400;
}

.hamburger-button {
    background-color: #03264C;
    color: #ffffff;
    display: block;
    max-width: 50px;
    padding: 15px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin: auto;
}

.main-navbar {
    display: none;

}

.main-navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-navbar a {
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
}

@media (min-width: 768px) {
    .main-header-top-bar {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        align-items: center;
    }

    .copy-header {
        max-width: 350px;
        text-align: center;
        font-size: 18px;
        font-weight: 400;
        margin: 0;
    }
    .hamburger-button {
        display: none;
    }
    .main-navbar {
        display: flex;
        justify-content: space-between;
        font-size: 12px;
        margin-left: 20px;
    }
    .main-navbar ul {
        display: flex;
    }
    .main-navbar li {
        margin: 0 5px;
    }
}


@media (min-width: 1200px) {

    .main-header-top-bar, .main-navbar {
        max-width: 1200px;
        margin: auto;
    }
    .main-header-top-bar {
        align-items: center;
    }
    .copy-header {
        max-width: none;
        font-size: 18px;
        font-weight: 400;
        margin: 0;  
    }
    .main-navbar{
        margin-top: 40px;
    }
    .main-navbar li {
        margin: 0 10px;
    }
    .main-navbar a {
        font-size: 19px;
    }
}


.banner {
    width: 100%;
}

h3 {
    font-size: 24px;
    margin: 20px 0px;

}

p {
    font-size: 12px;
}

main {
    width: 90%;
    margin: 0 auto;
}

.ultima-visita, .ofertas {
    display: flex;
    flex-wrap: wrap;
}

.precios {
    font-size: 18px;
    width: 30%;
}

.descuentos {
    font-size: 16px;
    width: 70%;
}

h4 {
    font-size: 16px;
    font-weight: normal;
    margin-top: 20px;
}

h3, h4 {
    color: #666;
}

main section article{
    background-color: #fff;    
    margin: 10px 0px;
}

main section article img{
    width: 100%;
}

main section article i,
.descuentos{
    color: #39b54a;
}

.articulo i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

.articulo {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 15px;
}

footer {
    background-color: #ebebeb;
    text-align: center;
}

footer i {
    color: #1259c3;
}


@media (min-width: 361px){

    h4{
        display: block;
    }


    main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    main section .productos{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    main section .productos article{
        width: 45%;
    }

    .precios,
    .descuentos{
        width: 50%;
    }
}

@media (min-width: 769px){
    main section .productos article{
        width: 22%;
    }
}


.login {
    background-color: white;
    width: 100%;
    font-family: 'Roboto';
    text-align: center;
    height: 100%;
    padding: 20px 0;

}

.form-login{
margin: 15px;
padding: 5px 5px;
}

.control{
width: 50%;
padding: 10px 0;
font-family: 'Roboto';
font-weight: bold;
color: black;
font-size: 16px;
}

.boton-login{
    background-color: #03264C;
    color: #ffffff;
    display: block;
    width: 50%;
    padding: 15px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin: auto;
}

.register{
    background-color: white;
    width: 100%;
    font-family: 'Roboto';
    text-align: center;
    height: 100%;
    padding: 20px 0;
}

.control-r{
    width: 75%;
    padding: 10px 0;
    font-family: 'Roboto';
    font-weight: bold;
    color: black;
    font-size: 20px;
}

.register h4{
    font-family: 'Roboto';
    font-weight: bold;
    color: black;
    font-size: 30px;
}

.profile{
    font-family: 'Roboto';
    font-weight: mormal;
    color: black;
    font-size: 20px;
}

#buy{
    text-align: center;
}

#sell{
    text-align: center;
}

#birth_date{
    width: 75%;
    padding: 10px 0;
    font-family: 'Roboto';
    font-size: 20px;}

.form-register label{
    font-family: 'Roboto';
    font-weight: bold;
    color: black;
    font-size: 30px;
}

.interests{
    font-family: 'Roboto';
    font-weight: normal;
    color: black;
    font-size: 20px;
}

.button-r{
    background-color: #03264C;
    color: #ffffff;
    width: 50%;
    padding: 15px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin: auto;
}






/*
576
768
992
1200
*/
